:root {
  --eco-verde-blue: #85D1F3;
  --darker-blue: #45b8ed;
  --off-white: #e5e5e5;
  --eco-verde-green: #7DAA42;
  --eco-verde-gray: #404040;
  --faded-black: #40404060;
}

html {
  font-family: 'Gotham', Helvetica, 'sans serif';
}

@font-face {
  src: url(fonts/GothamMedium.ttf);
  font-family: 'Gotham';
}

a {
  color: var(--eco-verde-gray);
  padding: 1em;
}

ul, li {
  color: (var(--eco-verde-gray));
}

.section-container {
  padding: 2em 1em 1em 2em;
}

.portfolio-projects {
  padding: 1em 0 2em 0;
  margin: 0 0 0 2em;
  /* background-color: black; */
}

#about-section {
  padding: 1em;
}

#main-image {
  padding: 2em 1em 1em 0.5em;
}

.modal-title {
  color: var(--faded-black);
}

.modal-image {
  padding: 2em 0 2em 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navbar-section {
  padding: 1em 0 3em 1em;
}

.section-h2 {
  text-align: center;
}

@media (min-width:1200px) {
  #main-image {
    padding: 0 1em 1em 3em;
  }
}